################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CosminGames/CosminGames/obj
/CosminGames/CosminGames/bin/Debug/net6.0
/CosminGames/Tests/bin/Debug/net6.0
/CosminGames/Tests/obj
/CosminGames/.vs/CosminGames
/.vs
